* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D7D7D7;
}

/*Header logo*/
.logo{
display: flex;
justify-content: center;
}
.logo:hover{
    transform: scale(1.04);
    transition: all 1s ease;
}
/*Overskrift*/
.historien-overskrift{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0px auto 40px;
        max-width: 820px;
        position: relative;
        color: #2B2B2B;
        font-size: 30pt;
    }
/*Streg teksten*/
    .historien-overskrift:before {
        content: '';
        display: block;
        width: 200px;
        height: 1px;
        background: #F1A200;
        position: absolute;
        left: -17%;
        top: 50%;
    }
/*Streg efter teksten*/
    .historien-overskrift:after {
        content: '';
        display: block;
        width: 170px;
        height: 1px;
        background: #F1A200;
        position: absolute;
        right: -17%;
        top: 50%;
    }

/*Tuborg squash historien - Tidslinje*/
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.timeline-container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
/*Bruger keyframes for at kunne lave animationen tidslinje stregen ned*/
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/*Jeg vælger her hver eneste boks og giver den 0.5 sekunds delay,
så det kommer smooth ned sammen med stregen*/
.timeline-container:nth-child(1){
    animation-delay: 0s;
}
.timeline-container:nth-child(2){
    animation-delay: 0.5s;
}
.timeline-container:nth-child(3){
    animation-delay: 1s;
}
.timeline-container:nth-child(4){
    animation-delay: 1.5s;
}
.timeline-container:nth-child(5){
    animation-delay: 2s;
}
.timeline-container:nth-child(6){
    animation-delay: 2.5s;
}
.timeline-container:nth-child(7){
    animation-delay: 3s;
}
.timeline-container:nth-child(8){
    animation-delay: 3.5s;
}
.timeline-container:nth-child(9){
    animation-delay: 4s;
}
.text-box{
    padding: 20px 30px;
    background: #F1A200;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left{
    left: 0;
}

.right{
    left: 50%;
}
/*Tidslinjen der går imellem de forskellige bokse som får en animation
hvor den rykker ned af og det tager 4 sekunder fra top til bund.*/
.timeline:after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #2B2B2B;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards;
}

/*Jeg har igen brugt Keyframes og gjort lavet en animation på 4 sekunder
så det passer til mine billeder og mine bokse popper op*/
@keyframes moveline {
    0%{
        height: 0;
    }

    100%{ height: 100%;}
}

/*Overskrift i boksen*/
.text-box h2{
    font-weight: 600;
    margin-bottom: 15px;
}
/*Størrelse på billederne, samt left -20px så de kommer på plads og sidder på linjen.*/
.timeline-container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right img{
    left: -20px;

}
/*Styling af mine arrows, så de passer ved siden af billedet.
Både på højre og venstre side*/
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #2B2B2B;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #2B2B2B;
    left: -15px;
}
/* TIL MOBIL*/
@media screen and (max-width: 768px)
/* GØRE TIMELINE MINDRE OG RETTER HVOR DEN SKAL VÆRE
SAMT ÆNDRE PÅ HVOR PILEN OG BILLEDERNE SKAL SIDDE NÅR MAN SKALERE NED*/
{
/*Starte med at rette på overskiften, da den er ret stor, så den passer til en iphone 12 pro*/
    .historien-overskrift {
        margin: 10px auto 30px;
        text-align: center;
        max-width: 820px;
        position: relative;
    
        color: #2B2B2B;
        font-size: 10pt;
    }
    
    .historien-overskrift:before {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
    
        background: #F1A200;
        position: absolute;
        left: 8%;
        top: 50%;
    }
    
    .historien-overskrift:after {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
    
        background: #F1A200;
        position: absolute;
        right: 8%;
        top: 50%;
    }
    /*Gør så tidslinjen kommer ud til venstre og får en margin på 50px*/
    .timeline{
        margin: 50px auto;
    }
    .timeline:after{
        left: 31px;
    }
/*Gør containeren 100% width og laver padding, så det fylder hele siden*/
    .timeline-container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    /*Ændre font size, så det bliver mindre*/
    .textbox{
        font-size: 13px;
    }

    .right{
        left: 0;
    }
/*Rykker pilene, samt de små runde billeder så de passer*/
    .left img, .right img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #2B2B2B;
        border-left: 0;
        left: -15px;
    }
}