* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D7D7D7;
    font-family: 'Roboto Slab', serif;
}


h1{
    font-family: 'Bree Serif', serif;
}

h2{
    font-family: 'Bree Serif', serif;
}

h3{
    font-family: 'Roboto Slab', serif;
}

.btn{
    font-family: 'Roboto Slab', serif;
}

/*Header logo*/
.logo{
display: flex;
justify-content: center;
}

.logo:hover{
    transform: scale(1.04);
    transition: all 1s ease;
}

/*Navigations bar*/
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 30px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #2B2B2B;
    display: block;
  }
  
  .sidenav a:hover {
    color: #F1A200;
  }
  






/*De 3 øl i toppen*/
.cardsol{
    display: flex;
    justify-content: center;
}
.cardsol img{
    max-height: 400px;
}

.cardsol img:hover{
    transform: scale(1.08);
    transition: all 1s ease;
}


/*Overskrift med before and after streg*/
.overskrift {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px auto 40px;
    max-width: 820px;
    position: relative;
    color: #2B2B2B;
    font-size: 30pt;
}

.overskrift:before {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background: #F1A200;
    position: absolute;
    left: 0%;
    top: 50%;
}

.overskrift:after {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background: #F1A200;
    position: absolute;
    right: 0%;
    top: 50%;
}


/*Nyhedsfeet med kort på forside. Er kopiret ind fra mit magasin
også har jeg ændret farver, effekter osv. Så det passer til mit nuværende design.*/
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: #2B2B2B;
    color: #F1A200;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    min-height: fit-content;
    align-self: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 100px;
}

.card-image{
    background-color: rgb(0, 0, 0);
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    margin: 5px;
}

.img1{
    background-image: url(images/story.png);
}

.img2{
    background-image: url(images/squashdesign.png);
}

.img3{
    background-image: url(images/densuredrink.jpg);
}

.card h3{
    padding: 10px;
    text-align: center;
}

.card p{
    padding: 10px;
}

.card .btn{
    display: block;
    margin-top: auto;

}

.card a{
    background-color: #F1A200;
    color: #2B2B2B;
    padding: 15px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 15px;
    text-decoration: none;
    border-style: solid;
    border-color: #2B2B2B;
}

.card:hover{
    background-color: #F1A200;
    color: #2B2B2B;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


/*Under overskrift til konkurrence*/
.underoverskrift h2{
    display: flex;
    justify-content: center;
    color: #2B2B2B;
}
.underoverskrift p{
    display: flex;
    justify-content: center;
    color: #F1A200;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}



/*Kontakt formular*/
input[type=text], select, textarea {
    background-color: #F1A200;
    color: #2B2B2B;
    width: 600px;
    display: flex;
    padding: 12px;
    border: 1px solid #2B2B2B;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #F1A200;
    color: #2B2B2B;
    padding: 12px 20px;
    border: 1px solid #2B2B2B;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #2B2B2B;
    color: #F1A200;
  }
  .kontaktcontainer{
    display: flex;
    justify-content: center;
  }

/*NYT DESIGN SIDEN LAVER JEG HER, DA DER IKKE SKAL SÅ MEGET IND PÅ SIDEN*/
.designbaggrund{
    display: flex;
    justify-content: center;
    width: 100%;
}

.designtext{
    text-align: left;
    display: flex;
    justify-content: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 100px;
}

/*Mobil Design side*/
@media screen and (max-width: 768px){

.designbaggrund{
    display: flex;
    justify-content: center;
    width: auto;
}

.designtext{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.overskrift {
    margin: 10px auto 30px;
    text-align: center;
    max-width: 820px;
    position: relative;

    color: #2B2B2B;
    font-size: 15pt;
}

.overskrift:before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;

    background: #F1A200;
    position: absolute;
    left: 8%;
    top: 50%;
}

.overskrift:after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;

    background: #F1A200;
    position: absolute;
    right: 8%;
    top: 50%;
}

/* Mobil til forside */
.underoverskrift{
    width: auto;
    height: auto;
    text-align: center;
}

.underoverskrift p{
    width: auto;
    height: auto;
    text-align: center;
}

.kontaktcontainer{
    width: 100%;
    margin-top: 0%;
}

input[type=text], select, textarea {
width: 300px;
}
}
