* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D7D7D7;
}

.logo{
display: flex;
justify-content: center;
}

.cardsol{
    display: flex;
    justify-content: center;
}
.cardsol img{
    max-height: 400px;
}

.cardsol img:hover{
    transform: scale(1.08);
    transition: all 1s ease;
}


/*Overskrift med before and after streg*/
.overskrift {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px auto 40px;
    max-width: 820px;
    position: relative;
    color: #2B2B2B;
    font-size: 30pt;
}

.overskrift:before {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background: #F1A200;
    position: absolute;
    left: 0%;
    top: 50%;
}

.overskrift:after {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background: #F1A200;
    position: absolute;
    right: 0%;
    top: 50%;
}


/*Nyhedsfeet med kort på forside. Er kopiret ind fra mit magasin
også har jeg ændret farver, effekter osv. Så det passer til mit nuværende design.*/
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: #2B2B2B;
    color: #F1A200;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    min-height: fit-content;
    align-self: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 100px;
}

.card-image{
    background-color: rgb(0, 0, 0);
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
}

.img1{
    background-image: url(images/billede1.png);
}

.img2{
    background-image: url(images/overskud.png);
}

.img3{
    background-image: url(images/ugenstilbud.png);
}

.card h3{
    padding: 10px;
    text-align: center;
}

.card p{
    padding: 10px;
}

.card .btn{
    display: block;
    margin-top: auto;

}

.card a{
    background-color: #F1A200;
    color: #2B2B2B;
    padding: 15px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 15px;
    text-decoration: none;
    border-style: solid;
    border-color: #2B2B2B;
}

.card:hover{
    background-color: #F1A200;
    color: #2B2B2B;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


/*Under overskrift*/
.underoverskrift h2{
    display: flex;
    justify-content: center;
    color: #2B2B2B;
}
.underoverskrift p{
    display: flex;
    justify-content: center;
    color: #F1A200;
    text-align: center;
    align-items: center;
}



/*Kontakt formular*/
input[type=text], select, textarea {
    background-color: #F1A200;
    color: #2B2B2B;
    width: 600px;
    display: flex;
    padding: 12px;
    border: 1px solid #2B2B2B;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #F1A200;
    color: #2B2B2B;
    padding: 12px 20px;
    border: 1px solid #2B2B2B;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #2B2B2B;
    color: #F1A200;
  }
  .kontaktcontainer{
    display: flex;
    justify-content: center;
  }



